<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageRestore>
		<add key="enabled" value="true" />
	</packageRestore>
	<solution>
		<add key="disableSourceControlIntegration" value="true" />
	</solution>
	<packageSources>
		<clear />
		<add key="nuget-proxy-group-v3" value="https://nexus.mir/repository/nuget-proxy-group-v3/index.json" protocolVersion="3" />
	</packageSources>
</configuration>
